__pycache__
.vscode/
templates/programs/*
!templates/programs/program-example/
!templates/programs/bash
machines/vagrant/*
!machines/vagrant/README.md
machines/packer/*
!machines/packer/README.md
templates/custom-scripts/*
!templates/custom-scripts/README.md
templates/upload/*
!templates/upload/README.md
templates/vagrant/provisions_configs/*
!templates/vagrant/provisions_configs/template.json
templates/packer/provisions_configs/*
!templates/packer/provisions_configs/template.json
builds/packer/*
!builds/packer/README.md
builds/vagrant/*
!builds/vagrant/README.md
iso/*
!iso/README.md
logs/*
!logs/README.md

