__pycache__
.vscode/
/packages/*
!/packages/program-example/
!/packages/setup_scripts
machines/vagrant/*
!machines/vagrant/README.md
machines/packer/*
!machines/packer/README.md
/custom-scripts/*
!/custom-scripts/README.md
provisions_configs/vagrant/*
!provisions_configs/vagrant/template.json
provisions_configs/packer/*
!provisions_configs/packer/template.json
builds/packer/*
!builds/packer/README.md
builds/vagrant/*
!builds/vagrant/README.md
iso/*
!iso/README.md
logs/*
!logs/README.md